.heading {
	text-align: center;
	margin-top: 200px;
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
}

h3 {
	color: grey;
}

.nav {
	text-align: center;
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

i {
	padding: 20px;
}

.top {
	text-align: center;
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
}

.guide {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}