.heading {
	text-align: center;
	margin-top: 200px;
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
}
.nav a {
	color: black;
}

h3 {
	color: grey;
}

.nav {
	text-align: center;
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

i {
	padding-left: 10px;
	padding-right: 10px;
}

.top {
	text-align: center;
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
}

.guide {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	height: 75px;
}

.single-item {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

.panel {
	padding: 0px;
}

.prof-pic {
	max-width: 500px;
	padding: 50px;
	margin-left: 200px;
}

object {
	max-width: 940px;
	height: 1110px;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}

.contact-info {
	margin-top: 60px;
}
.contact-info i {
	padding: 10px;
}

.contact-info a {
	color: black;
}